region = "ap-southeast-1"

airflow_config = {
    fernet_key = ""
    api__secret_key = ""
    api_auth__jwt_key = ""
    image_tag = "latest"
}

airflow_db_creds = {
    db_name = "airflow"
    username = "airflow"
    password = ""
    port = 5432
}

home_ip = "x.x.x.x/32"